---
layout: default
title: الخبرات
permalink: /experience
---

<div class="container">

    {% include header.html %}
  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->


  <div class="row">
      <div class="col-xs-2">
          {% include nav.html %}
      </div>
        
       <div class="col-xs-10">
            <p>{{ site.description }}</p>
            <br>
                <section id="skills">
                    <div class="headingbar">
                        <p>اللغات و التقنيات</p>
                    </div>
                {% for skill in site.data.skills %}
                    <img class="skill" src="{{ site.url }}/assets/skills/{{ skill.image }}"
                        alt="{{ skill.title }}" title="{{ skill.title }}">
                {% endfor %}
                </section>

                <section id="experience">
                    <div class="headingbar">
                        <p>العمل</p>
                    </div>
                    {% for job in site.data.experiences %}
                        <div class="experience">
                            <p><small class="text-gray">{{ job.start_date }} - {{ job.end_date }}</small><p>
                            <div class="experience-title">
                                <strong>{{ job.title }}</strong>
                                <p class="text-gray">{{ job.company }}</p>
                            </div>
                        </div>
                    {% endfor %}
            </section>
        </div>
    </div>
</div>
