---
layout: default
---

<div class="container">
    
    {% include header.html %}
    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

    <div class="row">
        <div class="col-xs-2">
            {% include nav.html %}
        </div>

        <div class="col-xs-8">
            <!--<p style="text-align: center">{{ site.description }}</p>-->
            <ul class="post-list">
                {% for post in site.posts %}
                <li>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                <!--<span class="post-meta ">{{ post.date | date: "%b %-d, %Y" }}</span>-->
                <p class="post-summary">
                        {{ post.summary }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</div> <!-- container -->