---
layout: default
---

<div class="home">

    <h1 class="site-title">{{ site.title }}</h1>
    <h2 class="site-subtitle">{{ site.subtitle }}</h2>
  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

  <p style="text-align: center">{{ site.description }}</p>
<br>
    <section id="skills">
        <div class="headingbar">
            <p>Languages & Technologies</p>
        </div>
    {% for skill in site.data.skills %}
        <img class="skill" src="{{ site.url }}/assets/skills/{{ skill.image }}"
            alt="{{ skill.title }}" title="{{ skill.title }}">
    {% endfor %}
    </section>

    <section id="experience">
        <div class="headingbar">
            <p>Experience</p>
        </div>
        {% for job in site.data.experiences %}
            <div class="experience">
                <p><small class="text-gray">{{ job.start_date }} - {{ job.end_date }}</small><p>
                <div class="experience-title">
                    <strong>{{ job.title }}</strong><span class="text-gray"> - {{ job.company }}</span>
                </div>
            </div>
        {% endfor %}
   </section>

</div>
