@font-face {
    font-family: "Helvetica";
    src: url("/assets/fonts/HelveticaNeue.ttf") format("ttf");
}

@font-face {
    font-family: "ApexNewBook";
    src: url('/assets/fonts/Apex\ New\ Book.otf');
}

@font-face {
    font-family: "ApexNewLight";
    src: url('/assets/fonts/Apex\ New\ Light.otf');
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    //font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} "Helvetica";
    color: $text-color;
    background-color: #efefef;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100%;
}



body {
    background-color: #fff;
    font-family: "ApexNewBook", Arial;
    padding-top: 35px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ApexNewBook", Arial !important;
}

.brand {
    color: #4c5c96;
    text-align: center;
    font-size: 42px;

}

.brand a {
    color: #4c5c96;
    text-align: center;
}

.brand a:hover {
    color: #333;
    text-decoration: none;
}

.img-profile {
    display: block;
    margin: 0 auto !important;
}



.social-nav {
    margin-top: 24px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    a {
        color: #999;
        padding: 12px 0;
        margin-left: 38px;
    }
}

.linkedin:hover {
    color: #0077b5;
}

.medium:hover {
    color: #00ab6b;
}

.email:hover {
    color: #4c5c96;
}

.github:hover {
    color: #444;
}

.twitter:hover {
    color: #4078c0;
}

.article-row {
    display: block;
    font-size: 21px;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    color: #666;
}


.article-title {
    font-family: "ApexNewLight";
}

.article-row-tags {

}

.article-pub-date {
    color: #aaa;
    font-size: 14px;
}

.tags-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tags-list li {
    display: inline-block;
    margin-left: 12px;
}

.tags-list li a {
    font-size: 12px;
}
.article-title:hover {
    color: #4c5c96;
    /*font-family: "ApexNewBook";*/
    text-decoration: none;
}

.article-row-summary {
    color: #777;
    font-size: 14px;
}

.article-row .article-date {
    color: #aaa;
}

.tags-inline {
    direction: ltr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
}

.tags-inline li {
    float: left;
    display: inline;
}

.card-teal {
    background-color: #009688 !important;
}
